#App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

p {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}
